<div class="col-md-12 fullPage">
  <div class="row">

    <div class="col-md-2 userBlock">
      <div class="container">
        <div class="col-md-12 userInfo">
          <div class="row">
            <div class="col-md-4 profileImage">
              <img src="../../../assets/user-male-icon.png" style="width: 180%;background-color: aliceblue; border-radius:5px">
            </div>
            <div class="col-md-8">
              <label class="welcome">Welcome</label>
              <label class="infoVal">Mike Harris</label>
              <label class="edit_signOut">Edit | Sign Out</label>
            </div>  
          </div>  
        </div> 
        
        <div class="col-md-12 button_Section">
          <button type="button" class="btn btn-primary">Add to Pipeline</button>
        </div>

        <div class="col-md-12 menuSection">
          <div class="row">
            <div class="col-md-2">
              <i class="fa fa-wrench"></i>
            </div>
            <div class="col-md-10">
              <label class="menuName">Setup System</label>
            </div>  
          </div>
          <hr>
          <div class="row">
            <div class="col-md-2">
              <i class="fa fa-credit-card money"></i>
            </div>
            <div class="col-md-10">
              <label class="menuName">Pricing</label>
            </div>  
          </div>
          <hr>
          <div class="row">
            <div class="col-md-2">
              <i class="fa fa-key"></i>
            </div>
            <div class="col-md-10">
              <label class="menuName">Manage System</label>
            </div>  
          </div>
          <hr>
          <div class="row">
            <div class="col-md-2">
              <i class="fa fa-university"></i>
            </div>
            <div class="col-md-10">
              <label class="menuName">Bank</label>
            </div>  
          </div>
          <hr>
          <div class="row">
            <div class="col-md-2">
              <i class="fa fa-file"></i>
            </div>
            <div class="col-md-10">
              <label class="menuName">Reports</label>
            </div>  
          </div>
          <hr>
          <div class="row">
            <div class="col-md-2">
              <i class="fa fa-user-circle"></i>
            </div>
            <div class="col-md-10">
              <label class="menuName">Sales Agent</label>
            </div>  
          </div>
          <hr>
          <div class="row">
            <div class="col-md-2">
              <i class="fa fa-filter"></i>
            </div>
            <div class="col-md-10">
              <label class="menuName">Pipeline</label>
            </div>  
          </div>
          <hr>
          <div class="row">
            <div class="col-md-2">
              <i class="fa fa-search"></i>
            </div>
            <div class="col-md-10">
              <label class="menuName">Pipeline Search</label>
            </div>  
          </div>
        </div>

        <div class="col-md-12 viewedList">
          <label>Recently Viewed</label>
        </div>

        <div class="col-md-12 menuSection">
          <div class="row">
            <div class="col-md-2">
              <i class="fa fa-eye"></i>
            </div>
            <div class="col-md-10">
              <label class="menuName">John Conner</label>
            </div>  
          </div>
          <hr>
          <div class="row">
            <div class="col-md-2">
              <i class="fa fa-eye"></i>
            </div>
            <div class="col-md-10">
              <label class="menuName">Peter Parker</label>
            </div>  
          </div>
          <hr>
          <div class="row">
            <div class="col-md-2">
              <i class="fa fa-eye"></i>
            </div>
            <div class="col-md-10">
              <label class="menuName">Allen</label>
            </div>  
          </div>
          <hr>
          <div class="row">
            <div class="col-md-2">
              <i class="fa fa-eye"></i>
            </div>
            <div class="col-md-10">
              <label class="menuName">Emilly</label>
            </div>  
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="col-md-12 contentBlock">
        <div class="col-md-12 title">
          <i class="fa fa-info-circle"></i>&nbsp;&nbsp;
          <label class="contentTitle">Rate Review</label>  
        </div>
        <div class="col-md-12 formArea">
          <label>Description</label><br>
          <input type="text" class="form-control" [(ngModel)]="description">
          <label>SIC Code</label><br>
          <input type="text" class="form-control" [(ngModel)]="SIS"> 
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 cardPart" style="background-color: #e5e5e5;">
                <div class="row">
                  <div class="col-md-2 imgBlock">
                    <img src="../../../assets/visa.jpg" style="width: 80%;margin-top: 12%;margin-left: 2%;">
                     <!-- <label class="dollarSign">$</label>  -->
                  </div>
                  <div class="col-md-10">
                  <input type="text" class="form-control" [(ngModel)]="visa_Dolar">
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-5 cardPart" style="background-color: #e5e5e5;">
                <div class="row">
                  <div class="col-md-2 imgBlock">
                    <img src="../../../assets/visa.jpg" style="width: 102%;margin-top: 12%;margin-left: 2%;">
                    <!-- <label class="dollarSign">$</label> -->
                  </div>
                  <div class="col-md-10">
                  <input type="text" class="form-control" [(ngModel)]="visa_Hash">
                  </div>
                </div>
              </div>  
            </div>  
          </div> 

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 cardPart" style="background-color: #e5e5e5;">
                <div class="row">
                  <div class="col-md-2 imgBlock">
                    <img src="../../../assets/master.jpg" style="width: 109%;margin-top: 12%;margin-left: 5%;">
                    <!-- <label class="dollarSign">$</label>  -->
                  </div>
                  <div class="col-md-10">
                  <input type="text" class="form-control"  [(ngModel)]="master_Hash">
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-5 cardPart" style="background-color: #e5e5e5;">
                <div class="row">
                  <div class="col-md-2 imgBlock">
                    <img src="../../../assets/master.jpg" style="width: 126%;margin-top: 12%;margin-left: 5%;">
                    <!-- <label class="dollarSign">$</label> -->
                  </div>
                  <div class="col-md-10">
                  <input type="text" class="form-control"  [(ngModel)]="master_Hash">
                  </div>
                </div>
              </div>  
            </div>  
          </div>

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 cardPart" style="background-color: #e5e5e5;">
                <div class="row">
                  <div class="col-md-2 imgBlock">
                    <img src="../../../assets/discover.jpg" style="width: 109%;margin-top: 12%;margin-left: 2%;">
                    <!-- <label class="dollarSign">$</label>  -->
                  </div>
                  <div class="col-md-10">
                  <input type="text" class="form-control"   [(ngModel)]="discover_Hash">
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-5 cardPart" style="background-color: #e5e5e5;">
                <div class="row">
                  <div class="col-md-2 imgBlock">
                    <img src="../../../assets/discover.jpg" style="width: 126%;margin-top: 12%;margin-left: 2%;">
                    <!-- <label class="dollarSign">$</label> -->
                  </div>
                  <div class="col-md-10">
                  <input type="text" class="form-control"  [(ngModel)]="discover_Hash">
                  </div>
                </div>
              </div>  
            </div>  
          </div>

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 cardPart" style="background-color: #e5e5e5;">
                <div class="row">
                  <div class="col-md-2 imgBlock">
                    <img src="../../../assets/ae.png" style="width: 106%;margin-top: 12%;margin-left: 5%;">
                    <!-- <label class="dollarSign">$</label>  -->
                  </div>
                  <div class="col-md-10">
                  <input type="text" class="form-control" [(ngModel)]="ae_Dolar">
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-5 cardPart" style="background-color: #e5e5e5;">
                <div class="row">
                  <div class="col-md-2 imgBlock">
                    <img src="../../../assets/ae.png" style="width: 126%;margin-top: 12%;margin-left: 5%;">
                    <!-- <label class="dollarSign">$</label> -->
                  </div>
                  <div class="col-md-10">
                  <input type="text" class="form-control" [(ngModel)]="ae_Hash">
                  </div>
                </div>
              </div>  
            </div>  
          </div>

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6"><label class="subTitle">Total Value</label></div>
              <div class="col-md-6"><label class="subTitle">Total Transaction</label></div>
              <div class="col-md-6 cardPart" style="background-color: #e5e5e5;">
                <div class="row">
                  <div class="col-md-1 imgBlock">
                    <!-- <img src="../../../assets/master.jpg" style="width: 109%;margin-top: 12%;margin-left: 5%;"> -->
                    <label class="dollarSigns">$</label> 
                  </div>
                  <div class="col-md-11">
                  <input type="text" class="form-control" [(ngModel)]="totVol" disabled>
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-5 cardPart" style="background-color: #e5e5e5;">
                <div class="row">
                  <div class="col-md-1 imgBlock">
                    <!-- <img src="../../../assets/master.jpg" style="width: 126%;margin-top: 12%;margin-left: 5%;"> -->
                    <label class="dollarSigns">#</label>
                  </div>
                  <div class="col-md-11">
                  <input type="text" class="form-control" [(ngModel)]="totTrans" disabled>
                  </div>
                </div>
              </div>  
            </div>  
          </div>

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6"><label class="subTitle">Avg Ticket</label></div>
              <div class="col-md-6"><label class="subTitle">Current Rate</label></div>
              <div class="col-md-6 cardPart" style="background-color: #e5e5e5;">
                <div class="row">
                  <div class="col-md-1 imgBlock">
                    <!-- <img src="../../../assets/master.jpg" style="width: 109%;margin-top: 12%;margin-left: 5%;"> -->
                    <label class="dollarSigns">$</label> 
                  </div>
                  <div class="col-md-11">
                  <input type="text" class="form-control" [(ngModel)]="avgtic" disabled>
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-5 cardPart" style="background-color: #e5e5e5;">
                <div class="row">
                  <div class="col-md-1 imgBlock">
                    <!-- <img src="../../../assets/master.jpg" style="width: 126%;margin-top: 12%;margin-left: 5%;"> -->
                    <label class="dollarSigns">%</label>
                  </div>
                  <div class="col-md-11">
                  <input type="text" class="form-control" [(ngModel)]="currRate" disabled>
                  </div>
                </div>
              </div>  
            </div>  
          </div>


          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6"><label class="subTitle">Current Fees</label></div>
              <div class="col-md-6"><label class="subTitle">Current Amex Fees</label></div>
              <div class="col-md-6 cardPart" style="background-color: #e5e5e5;">
                <div class="row">
                  <div class="col-md-1 imgBlock">
                    <!-- <img src="../../../assets/master.jpg" style="width: 109%;margin-top: 12%;margin-left: 5%;"> -->
                    <label class="dollarSigns">$</label> 
                  </div>
                  <div class="col-md-11">
                  <input type="text" class="form-control" [(ngModel)]="curFees">
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-5 cardPart" style="background-color: #e5e5e5;">
                <div class="row">
                  <div class="col-md-1 imgBlock">
                    <!-- <img src="../../../assets/master.jpg" style="width: 126%;margin-top: 12%;margin-left: 5%;"> -->
                    <label class="dollarSigns">$</label>
                  </div>
                  <div class="col-md-11">
                  <input type="text" class="form-control" [(ngModel)]="currAmFees">
                  </div>
                </div>
              </div>  
            </div>  
          </div>




        </div>  
      </div>
    </div>
    <div class="col-md-5">
      <div class="col-md-12 contentBlock">
        <div class="col-md-12 title">
          <i class="fa fa-credit-card"></i>&nbsp;&nbsp;
          <label class="contentTitle">Select Pricing Option</label>  
        </div> 
        <div class="col-md-12 formArea">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Saving</th>
                <th>Residual</th>
                <th>Rate</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of dummyArray">
                <td>{{data.name}}</td>
                <td>{{data.saving}}</td>
                <td>{{data.residuals}}</td>
                <td>{{data.rate}}</td>
              </tr>
            </tbody>
          </table>

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <h4>Non-Monthly Fees</h4>
              </div>
              <div class="col-md-2">
                <button type="button" class="btn btn-primary newAdd">Add</button>
              </div>  
            </div>
          </div>
          <div class="col-md-12" style="text-align: center;margin-top: 1%;margin-bottom: 1%;font-weight: bolder;padding-bottom: 7%">
            <div class="container finalContent">
              <label class="detailBelow">Final Proposal Detail Below</label>
            </div>
          </div>

        </div>   
      </div>
    </div>

  </div>  
</div>